*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}

div,section,span,ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

/*home section*/

.logo{
    height: auto;
    max-width: 100%;
}

#home{
    background-image: linear-gradient(rgb(34, 34, 34) 55%, rgb(53, 53, 53) 100%);
}

.thirdText{
    position: absolute;
    margin-top: 100px;
    width: 600px;
    display: flex;
}

.homeDescription{
    position: absolute;
    margin-top: 100px;
    font-weight: bold;
    font-size: 22px;
    color:white;
}

.homeGif{
    position: absolute;
    margin-top: 100px;
    right: 5%;
    top: 17%;
}

#home img{
    border-radius: 30px;
}


.name{
    margin-top: 30px;
    font-weight: 600;
    font-size: 50px;
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(245, 189, 68) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.containter{
    min-height: 100vh;
    display: flex;
    margin-left: 10%;
    justify-content: left;
    align-items: center;
    gap:10px;
    overflow: hidden;
}

.containter .text{
    position: relative;
    color: rgb(66, 66, 216);
    font-size: 40px;
    font-weight: 600;
}

.containter .text.first-text{
    color:black;

}

.text.sec-text:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgb(34, 34, 34);
    border-left: 2px solid black;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left:0%;
    }
}

/*about section*/

#about{
    background-image: linear-gradient(#77ABB7, #3d6d77);
}

.aboutMeDiv{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#about li{
    list-style: none;
    margin: 20px;
}

#about li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
}

#about ul{
    position:absolute;
    right: 5%;
    margin-bottom: 10%;
}

.rightSpan{
    position:absolute;
    right: 20%;
    font-size: 22px;
    overflow-wrap: break-word;
    inline-size: 500px;
}

.leftSpan{
    position:absolute;
    left: 27%;
    top: 35%;
    font-size: 60px;
    font-weight: bold;
}

/*projects section*/

#projects{
    background-image: linear-gradient(#476D7C, #334d57);
}

.projectsBody{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 150px;
}

.containter2{
    display: flex;
    width: 100vh;
    justify-content: space-evenly;
}

.project1{
    cursor:pointer;   
}

.face1, .face2{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.face1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #343434;
    color: #5c5c5c;
    transform: translateY(50%);
    position: relative;
    z-index:10;
}

.face1 i{
    font-size: 8em;
}

.face1 .title{
    margin-top: 10px;
    font-size: 1.5em;
}

.face2{
    background-color: white;
    position: relative;
    transform: translateY(-50%);
    z-index: 2;
}

.face2 .content{
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 10%;
}

.face2 .content .button{
    width: 40%;
    padding: 2%;
    position: absolute;
    text-align: center;
    margin-top: 12.5%;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s;
}

.face2 .content .button a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.face2 .content .button:hover a{
    color: white;
}

.face2 .content .button:hover{
    background-color: black;
}

.project1:hover .face1{
    background-color: #37d828;
    color:white;
    transform: translateY(0);
}

.project1:hover .face2{
    transform: translateY(0);
}

/*pricing section*/

#pricing{
    background-image: linear-gradient(#254B62, #185074);
}

/*contact section*/

#contact{
    background-image: linear-gradient(#2a5169, #0e3852);
}

/*all headers*/

h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
}